

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
  <div class="containers" >
     
 
   <nav>
     <div class="logo">
       <img src="assets/pngwing.com.png" alt="" class="logoIcon mx-5 mt-3" height="50px" width="50px">
     </div>

     <div class="navItems mx-5 mt-3">
         <a href="" class="navLink text-decoration-none text-light "><p class="navItem" style="color:yellow">HOME</p></a>
         <a href="#Menu" class="navLink text-decoration-none text-light " ><p class="navItem">MENU</p></a>
         <a href="/about" class="navLink text-decoration-none text-light "><p class="navItem">ABOUT</p></a>
         <a href="/login" class="navLink text-decoration-none text-light "><p class="navItem">CONTACT</p></a>
      </div>

      <div class="navIcons  mt-3">
        <a href="" class="navLink text-decoration-none text-light "><i class="fa-solid fa-magnifying-glass navIcon"></i></a> <br>
        <a href="/login" class="navLink text-decoration-none text-light "><i class="fa-solid fa-user navIcon" ></i> <br></a>
        <a href="" class="navLink text-decoration-none text-light "><i class="fa-solid fa-cart-shopping navIcon"></i></a>
      </div>


   </nav>

   <div class="Left  ">
       <div class="leftHead">
        <p class="leftTitle">the ultimate <br> burger heven</p>

       </div>
       <p class="leftContent">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam consequuntur incidunt voluptatem sapiente est ea id recusandae provident modi culpa impedit, esse at illum in mollitia rerum vitae dolor placeat.</p>
       <button mat-raised-button class="orderBtn bg-warning" >ORDER</button> 
       <a href="#viewmore" class="leftViewmore">view more</a>
       
    </div>
    <div class="rightContent">
       <img src="assets/pngegg (4).png" class="rightPic" alt=""  height="470px" width="400px">
    </div>

    <br><br><br>
    <h1 class="menuHead" id="Menu">OUR MENU</h1>
    

    <div class="burgerMenu" >
     
      
      <div class="row cardHead">
        <div class="col">
          <div class="card " style="width:400px">
            <img class="card-img-top bg-danger" src="assets/pngegg (7).png" alt="Card image" style="width:100%">
            <div class="card-body">
              <H1 class="card-title">BEEF BURGER</H1>
              <p class="card-text">$15</p>
              <a href="#" class="btn btn-warning">Order Now</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card " style="width:400px">
            <img class="card-img-top bg-danger" src="assets/pngegg (8).png" alt="Card image" style="width:100%" height="286">
            <div class="card-body">
              <H1 class="card-title">CHICKEN BURGER</H1>
              <p class="card-text">$10</p>
              <a href="#" class="btn btn-warning">Order Now</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width:400px">
            <img class="card-img-top bg-danger" src="assets/pngegg (9).png" alt="Card image" style="width:100%" height="286">
            <div class="card-body">
              <H1 class="card-title">FRIED CHECKEN</H1>
              <p class="card-text">$12</p>
              <a href="#" class="btn btn-warning">Order Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br><br><br> <br><br><br><br><br><br><br><br><br><br>
    <div class="burgerMenu">
      <div class="row cardHead2">
        <div class="col">
          <div class="card " style="width:400px">
            <img class="card-img-top bg-danger" src="assets/pngegg (11).png" alt="Card image" style="width:100%" height="286">
            <div class="card-body">
              <H1 class="card-title">FRENCH FRIES</H1>
              <p class="card-text">$10</p>
              <a href="#" class="btn btn-warning">Order Now</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width:400px">
            <img class="card-img-top bg-danger" src="assets/pngegg (14).png" alt="Card image" style="width:100%" height="286">
            <div class="card-body">
              <H1 class="card-title">CHICKEN NUGGETS</H1>
              <p class="card-text">$14</p>
              <a href="#" class="btn btn-warning">Order Now</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width:400px">
            <img class="card-img-top bg-danger" src="assets/pngegg (15).png" alt="Card image" style="width:100% "  height="286" >
            <div class="card-body">
              <h1 class="card-title">FRIED CHECKEN LEG</h1>
              <p class="card-text">$15</p>
              <a href="#" class="btn btn-warning">Order Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="backTheme">

    </div>
     <footer id="viewmore">
        <div class="footerParent">
         <p class="footerContent"> Privacy Policy | Feedback | Terms & Conditions | Corporate Website | Faq | Bug Bounty |Site Map | Veg Burgers | Non Veg Burgers | Nutrition Info | Birthday <br> Party | All Restaurants </p>
         
         <p><b>Copyright  2024  H.R.P.L</b></p>
        </div>
        <div class="footerIcon">
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-facebook"></i>
        </div>
     </footer>
  </div>
  
</body>

</html>



